body {
    margin: 0px;
}

* {
    font-family: 'Rajdhani', sans-serif;
}


h1,h2,h3 {
    font-family: 'Nova Square', cursive;
}


:root {
    --main-color:darkred ;
    --secondary-color:#C67F7F;
    --accent-color:#ececec;
}

.text-main-color{
    color: var(--main-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.text-accent-color {
    color: var(--accent-color);
}
/* header css */

.header {
    height: 90vh;
    background-size: cover;
    background-image: linear-gradient(white 10%,transparent) ,url(./media/header.jpg);

}


@media screen and (min-width:992px){
    h1 {
        letter-spacing: 50px;
    }
}


/* navbar  */


